body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.canvas-container {
  width: 400px;
  height: 200px;
  border: 3px solid black;
  margin: 40px;
}

form{
  display: flex;
  height: 200px;
  justify-content: space-between;
  flex-direction: column;
}

input {
  margin-left: 10px;
  width: 50px;
}